'scopeName': 'source.idf'
'name': 'IDF'
'fileTypes': [
  'idf'
]
'foldingStartMarker': '^[^!]*,'
'foldingStopMarker': '^[^!];.*$'

'patterns': [
  {
    'match': '!.*$'
    'name': 'comment.line.idf'
  }
  {
    'name': 'meta.input.idf'
    'begin': '^\\s*([A-Z][^!,]*)\\s*,'
    'end': ';'
    'beginCaptures':
      '1':
        'name': 'entity.name.type.idf'
    'patterns': [
      {
        'match': '[^!,;]*[a-df-zA-DF-Z][^!,;]*'
        'name': 'string.unquoted.idf'
      }
      {
        'match': '(^|,|\\s*)\\s*(-?(0|[1-9][0-9]*)(\\.[0-9]*)?((e|E)(\\+|-)[0-9]+)?)\\s*'
        'captures':
          '2':
            'name': 'constant.numeric.idf'
      }
      {
        'match': '!.*'
        'name': 'comment.line.inline.idf'
      }
    ]
  }
]
